
    body{
        background-color:aliceblue;
        font-family:Mulish;
    }
    .container{
        background-color:white;
        margin:100px auto;
        max-width:50%;
        padding:20px;
        border-radius:10px;
       box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
    }
    .text-input{
        background-color: aliceblue;
        width:450px;
        padding:20px;
        font-size:15px;
        border-radius:5px;
        border:none;
    }
    .text-input :hover{
        border:1px solid black;
    }
    .submit-input{
        background-color:rgb(136, 93, 241);
        width:90px;
        font-size:15px;
        padding:20px;
        border-radius:10px;
        border:none;
        color:white;
    }
    h1{
        font-size:50px;
        margin-top:50px;
    }
    .current-weather{
        font-weight:100;
        margin-top:-20px;
    }
    .emoji{
        font-size:50px;
        color: yellow;
    }
    .number{
        font-size:80px;
    }
     .degree{
        position:relative;
        top:-45px;
        left:-10px;
     }
    .weather{
        position: relative;
        left:350px;
        top:-100px;
    }
    .percent{
        color:red;
        font-weight:bold;
    }
    .Kilo{
        color:red;
        font-weight:bold;
    }
    .bottom{
        padding-bottom: 30px;
        text-align: center;
    }
