
    body{
        background-color:aliceblue;
        font-family:Mulish;
    }
    .container{
        background-color:white;
        margin:100px auto; 
        min-width:300px;
        max-width:600px;
        padding:50px;
        border-radius:10px;
       box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
    }
    .input{
        display:flex;
    }

    .text-input{
        background-color: aliceblue;
        width:500px;
        
        font-size:20px;
        border-radius:5px;
        border:none;
    }
    .text-input :hover{
        border:1px solid black;
    }
    .submit-input{
        background-color:rgb(136, 93, 241);
        
        font-size:17px;
        
        border-radius:10px;
        border:none;
        color:white;
    }
    h1{
        font-size:35px;
        
    }
    .data{
        
    }
    .current-weather{
        font-weight:100;
        

    }
    .weather{
        
    }
    .icon{
           
    }
    .number{
        
    }
    .degree{
        
    }

    .percent{
        color:red;
        font-weight:bold;
    }
    .Kilo{
        color:red;
        font-weight:bold;
    }
    .bottom{

        
        text-align: center;
        font-size:14px;
        font-weight:100;
    }
